* {
    box-sizing: border-box;
}

/* nav bar */
.nav-bar {
    height: 50px;
    width: auto;
    background-color: darkgray;
    padding-right: 20px
}

/* creates a button in the nav bar */
.nav-link  { 
    background-color: #f44336;
    line-height: 50px; 
    color: white;     
    float: right;    
    padding: 0px 25px 0px 25px;
    text-decoration: none; 
}

.nav-link-grey  { 
    background-color: grey;
    line-height: 50px; 
    color: white;     
    float: right;    
    padding: 0px 25px 0px 25px;
    text-decoration: none; 
}

.nav-link:hover {     
    background-color: red;
}

.nav-link-grey:hover {     
    background-color: #707070;
}

.navbar a:active {
    color: white;     
}

.navbar a:visited  {
    color: white;     
}


body {  
    font-family: Arial;
    margin: 0px;    
}



/* Add a gray background color with some padding */
.wrapper {    
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.center-text {
    text-align: center;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card-post {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #f44336;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;        
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px; 
    border-radius: 10px;   
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.container {
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}


.container input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    
.submitbutton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

.submitbutton:hover {
    background-color: #6fbf72;
}

input[type=submit]:hover {
    background-color: #45a049;

}

.post-input {   
    font-family: "Tahoma", "Arial", "Arabic Transparent";
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    max-width: 100%;
    min-width: 100%;    
}

.center-form {
    margin: auto;
    width: 500px;        
}

.form-background {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 100%;
}

.form-background input{
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Settings */

.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgray;
    overflow-x: hidden;
    padding-top: 20px;
}

.side-nav-link {
    height: 50px;
    width: 200px;
    z-index: 1;    
    padding: 15px;    
}

.side-nav-link:hover {
    background-color: aqua;    
}

.side-nav-link a {
    
}

.wrapper-main {
    margin-left: 200px;
    background-color: #f1f1f1;
    height: 100%;
}

.settings-section {
    background-color: white;
    height: 220px;
    padding: 0 10px 10px;
}

.section-heading {
    
}

.section-body {    
    width: 700px;
}

.section-body:hover {
    background-color: lightgoldenrodyellow;    
}

.section-content {
    height: 50px;
    padding: 15px;
}

.section-left {
    
    width: 250px;
    height: 100%;
    float: left;
}

.section-right {    
    float: left;
    padding-right: 10px;
}

.form-grop a:hover {
    text-decoration: underline;
}

.edit {
 color: skyblue;
}

.button-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.button-primary:hover {
    background-color: #6fbf72;
}

.button-secondary {
    background-color: #e7e7e7;
    color: black;
    border: none;    
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.button-secondary:hover {
    background-color: #eeeeee;
}

/* Alert */

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}

/* snack bar */
#snackbarsuccess {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #4CAF50; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarsuccess.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .center-form {   
        width: 100%;
        padding: 0;
    }

    .card-post {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        border-left: 4px solid #f44336;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;        
    }
}

