* {
    box-sizing: border-box;
}

/* nav bar */
.nav-bar {
    height: 50px;
    width: auto;
    background-color: darkgray;
    padding-right: 20px
}

/* creates a button in the nav bar */
.nav-link:link, a:visited  { 
    background-color: #f44336;
    line-height: 50px; 
    color: white;     
    float: right;    
    padding: 0px 25px 0px 25px;
    text-decoration: none; 
}

.nav-link:hover, a:active {     
    background-color: red;
}

body {  
    font-family: Arial;
    margin: 0px;    
}

/* Add a gray background color with some padding */
.wrapper {    
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.center-text {
    text-align: center;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card-post {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #f44336;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;        
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px; 
    border-radius: 10px;   
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.container {
    width: 500px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    
    .card-post {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-left: 4px solid #f44336;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;        
}
    
    
}

